.register {
  width: 45%;
  margin: 0 auto;
  padding: 30px 0px;
}

@media only screen and (max-width: 868px) {
  .register {
    width: 70%;
  }
}
@media only screen and (max-width: 568px) {
  .register {
    width: 90%;
  }
}
.header {
  text-align: center;
  margin-top: 25px;
}
.sign-in {
  font-size: 14px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
.register-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 3px #949494;
  display: grid;
  align-items: center;
  justify-content: stretch;
  row-gap: 10px;
  padding: 30px;
  width: 100%;
}
.register-header {
  justify-self: center;
}
.register-form {
  display: grid;
  width: 80%;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 15px;
  justify-self: center;
  .agree-message {
    font-size: 12px;
  }
  .name {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }

  @media only screen and (max-width: 768px) {
    .name {
      grid-template-columns: auto;
      row-gap: 15px;
    }
  }
  .form-input {
    width: 100%;
  }
  .radios-gender {
    display: flex;
    align-items: center;
    .radio-gender {
      font-size: 20px;
      padding-right: 30px;
      margin-right: 10px;
      color: rgb(82, 82, 82);
    }
    .check-label {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
