.login {
  width: 39%;
  display: flex;
  margin: auto auto;
  height: 100vh;
  padding: 250px 0px;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: xx-large;
}

.login-card {
  display: grid;
  justify-items: center;
  row-gap: 40px;
  padding: 30px 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 3px 3px #949494;
  .login-header {
    text-align: center;
  }
}
.header-error {
  text-align: center;
  color: tomato;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  max-width: fit-content;
}
@media only screen and (max-width: 568px) {
  .login-card {
    max-width: 300px;
    padding: 20px 50px;
  }
  .form-input {
    width: 200px;
  }
}
@media only screen and (max-width: 330px) {
  .form-input {
    width: 150px;
  }
}
.login-form {
  display: grid;
  row-gap: 35px;
}

.sign-up {
  font-size: 13px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.btn.primary {
  width: 100%;
}
