.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header {
  font-size: xx-large;
}

.login-card {
  display: grid;
  justify-items: center;
  row-gap: 40px;
  padding: 30px 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 3px 3px #949494;
  .login-header {
    text-align: center;
  }
}
.header-error {
  text-align: center;
  color: tomato;
  font-size: 20px;
  max-width: fit-content;
}
@media only screen and (max-width: 568px) {
  .login-card {
    max-width: 300px;
    padding: 20px 50px;
  }
  .form-input {
    width: 200px;
  }
}
@media only screen and (max-width: 330px) {
  .form-input {
    width: 150px;
  }
}
.login-form {
  display: grid;
  row-gap: 35px;
}

.sign-up {
  font-size: 12px;
  text-align: right;
}

.btn.primary {
  width: 100%;
}
